@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */

.profilepress-edit-profile-status {
    width: 400px;
    text-align: center;
    background-color: #e74c3c;
    color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

.memo-edprofile-success {
    width: 400px;
    text-align: center;
    background-color: #2ecc71;
    color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

#sc-edprofile {
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
    background: #3399cc;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

div#sc-edprofile .sc-container {
    background: #f0f0f0;
    padding: 6% 4%;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="password"],
div#sc-edprofile select,
div#sc-edprofile textarea {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

div#sc-edprofile select {
    width: 100%;
}

div#sc-edprofile textarea {
    height: 100px;
}

div#sc-edprofile input[type="submit"] {
    width: 100%;
    background: #3399cc;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
}

div#sc-edprofile input[type="submit"]:hover {
    background: #2288bb;
}

#imageUpload {
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -160px;
    left: 100px;
}

#profileImage {
    cursor: pointer;
    filter: brightness(70%);
}

#profile-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
}

#profile-container img {
    width: 250px;
    height: 250px;
}